<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>BOOKING | login</title>
        <link href="css/style.css" rel="stylesheet"/>
    </head>
    <body>
    
    <div class="header">Login</div>
    
	<?php if (!empty($err)): ?>
	<div class="err">
		<?php foreach ($err as $e): ?>
			<?=$e?><br>
		<?php endforeach; ?>
	</div>
	<?php endif; ?>
    
    <div align="center">
		<form action="login.php" method="post" enctype="multipart/form-data">
			<input name="email" type="text" placeholder="e-mail"><br >
			<input name="password" type="password" placeholder="password"><br>
			<input class="submit" name="submit" type="submit" value="submit"><br>
		</form>
	</div>
    </body>
</html>
